
@{
    ViewData["Header"] = "Sales";
    ViewData["Title"] = "Sales";
}

<div class="container-fluid mt-2">
    <a class="btn btn-primary" asp-area="Inventory" asp-controller="Sale" asp-action="Create"> <i class="fa fa-plus-square"></i> &nbsp; Add </a>

    <div class="row">
        <div class="col-md-12">
            <div class="table table-responsive mt-4">
                <table id="mainTable" class="table mt-3 ">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Net Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog" style="margin-top:13%;">
            <div class="modal-dialog  bg-light ">
                <div class="modal-header ">
                    <b>Sales Details</b>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body bg-light">
                    <table class="modal-table table table-bordered" id="salesDetailTable"> 
                        <thead class="thead-dark">
                            <tr>
                                <th> # </th>
                                <th> Item </th>
                                <th> Unit</th>
                                <th> Qty </th>
                                <th> Price </th>
                                <th> Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {


            $("#mainTable").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": false,
                "ordering": false,
                lengthMenu: [10, 25, 50, 75, 100],

                "ajax": {
                    "url": "/inventory/sale/LoadSales",
                    "type": "POST",
                },
                "columns": [
                    {
                        "render": function (data, type, row, meta) {
                            return `${row.NepaliDate} ${row.SalesTime}`
                        }
                    },
                    { "data": "CustomerName", "autoWidth": true },
                    { "data": "discount", "autoWidth": true },
                    { "data": "netTotal", "autoWidth": true },
                    
                    {
                        "render": function (data, type, row, meta) {
                            return `
                            <input type="hidden" class="salesId" value="${row.SaleId}" />
                            <a class="btn btn-info btn-details text-white btn-sm details" data-toggle="modal" data-target="#myModal"> Details </a> 
                            <a class="btn btn-success btn-print text-white btn-sm"> Print </a>`
                        }

                    },
                ]
            });
            $(document).on('click', '.btn-print', function () {
                event.preventDefault();
                var id = $(this).closest('td').find('.salesId').eq(0).val();
                var url = '/Inventory/Sale/Print?saleId=' + id + "";
                window.open(url, '_blank');
                
                
            })
            $(document).on('click', '.btn-details', function () {

                event.preventDefault();

                var id = $(this).closest('td').find('.salesId').eq(0).val();
                var url = '/Inventory/Sale/GetDetails?id=' + id + "";


                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',                    
                     success: function(data) {
                        $('display').css({ 'display': 'block' });
                        $('#salesDetailTable tbody tr').remove();
                        $(function() {
                            $.each(data, function(i, item) {
                                $('<tr>').append(
                                    $('<td>').text(item.SaleDetailId),
                                    $('<td>').text(item.ItemName),
                                    $('<td>').text(item.UnitName),
                                    $('<td>').text(item.Qty),
                                    $('<td>').text(item.Price),
                                    $('<td>').text(item.Total)).appendTo('#salesDetailTable');
                            });
                            $("#myModal").modal('show');
                        });
                       
                    }

                });

            });
        });
    </script>

}        