@model Inventory.ViewModels.CustomerTransactionViewModel

@{
    ViewData["Header"] = "Customer Statement";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">


            <div class="row">
                <div class="form-group col-md-4">
                    <label class="font-weight-bold"> Select Customer</label>
                    <select asp-for="CustomerId" name="customerId" asp-items="@Model.CustomerSelectList" class="form-control drop-down">
                        <option value="0">--Select--</option>
                    </select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 ">
                    <button class="btn btn-success mt-4" id="filter" type="button">Filter</button>
                </div>
            </div>

        </div>
    </div>
    <br />
    <div class="row">

        <div class="table">
            <table class="table mt-3" id="datatable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Transaction Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Debit Amount</th>
                        <th scope="col">Credit Amount</th>
                        <th scope="col">Balance Amount</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#filter").on("click", function (e) {
            e.preventDefault();
            table.draw();
        })
        var table = $("#datatable").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": false,
            "ordering": false,
            lengthMenu: [10, 25, 50, 75, 100],

            "ajax": {
                "url": "/inventory/customerStatement/LoadStatement",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    d.CustomerId = $('#CustomerId').val();
                }
            },
            "columns": [
                {
                    "render": function (data, type, row, meta) {
                        return `${row.TransactionDateNepali} ${row.TransactionTime}`
                    }

                },
                { "data": "Type", "autoWidth": true },
                {
                    "render": function (data, type, row, meta) {

                        if (row.AmountType == "DEBIT") {
                            return `${row.Amount.toFixed(2)}`;
                        }
                            return ``;
                    }
                },
                {
                    "render": function (data, type, row, meta) {

                        if (row.AmountType == "CREDIT") {
                            return `${row.Amount.toFixed(2)}`;
                        }
                        return ``;
                    }

                },
                {
                    "render": function (data, type, row, meta) {
                        return `${row.BalanceAmount.toFixed(2)} ${row.BalanceType}`
                    }

                },
            ]
        });



    </script>
}